# This is currently configured as an 'all in one' deployment in one cluster.

clusterGroup:
  name: spoke
  isHubCluster: false
  namespaces:
  - golang-external-secrets
  - openshift-sandboxed-containers-operator
  - hello-openshift
  - kbs-access
  - cert-manager-operator
  subscriptions:
    # ACM is kept anticipating 
    sandbox:
      name: sandboxed-containers-operator
      namespace: openshift-sandboxed-containers-operator
      source: redhat-operators
      channel: stable
      installPlanApproval: Manual 
      csv: sandboxed-containers-operator.v1.10.1
    cert-manager:
      name: openshift-cert-manager-operator
      namespace: cert-manager-operator
      channel: stable-v1

  projects:
  - hub
  - vault
  - trustee
  - golang-external-secrets
  - sandbox
  - workloads
  - default
  # Explicitly mention the cluster-state based overrides we plan to use for this pattern.
  # We can use self-referential variables because the chart calls the tpl function with these variables defined
  sharedValueFiles:
  - '/overrides/values-{{ $.Values.global.clusterPlatform }}.yaml'
  applications:

    secrets-operator:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: golang-external-secrets
      chart: golang-external-secrets
      chartVersion: 0.1.*

    sandbox:
      name: sandbox
      namespace: openshift-sandboxed-containers-operator #upstream config
      project: sandbox
      path: charts/coco-supported/sandbox

    hello-openshift:
      name: hello-openshift
      namespace: hello-openshift
      project: workloads
      path: charts/coco-supported/hello-openshift

    kbs-access:
      name: kbs-access
      namespace: kbs-access
      project: workloads
      path: charts/coco-supported/kbs-access

  imperative:
    # NOTE: We *must* use lists and not hashes. As hashes lose ordering once parsed by helm
    # The default schedule is every 10 minutes: imperative.schedule
    # Total timeout of all jobs is 1h: imperative.activeDeadlineSeconds
    # imagePullPolicy is set to always: imperative.imagePullPolicy
    # For additional overrides that apply to the jobs, please refer to
    # https://hybrid-cloud-patterns.io/imperative-actions/#additional-job-customizations
    jobs:
    - name: install-deps
      playbook: ansible/install-deps.yaml
      verbosity: -vvv
      timeout: 3600
    - name: configure-azure-nat-gateway
      playbook: ansible/azure-nat-gateway.yaml
      verbosity: -vvv
      timeout: 3600