apiVersion: v1
kind: Pod
metadata:
  name: insecure-policy
  labels:
    app: insecure-policy
  annotations:
    io.katacontainers.config.agent.policy: '{{ tpl ( .Files.Get "insecure-policy.rego") . | b64enc }}'
spec:
  runtimeClassName: {{ include "hello-openshift.runtimeClassName" . }}
  containers:
    - name: hello-openshift
      image: quay.io/openshift/origin-hello-openshift
      ports:
        - containerPort: 8888
      securityContext:
        privileged: false
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 1001
        capabilities:
          drop:
            - ALL
        seccompProfile:
          type: RuntimeDefault

---
