apiVersion: v1
kind: Pod
metadata:
  name: secure
  labels:
    app: secure
  annotations:
    peerpods: "true"
spec:
  runtimeClassName: kata-remote
  containers:
    - name: python-access
      image: ghcr.io/butler54/kbs-access-app:latest
      ports:
        - containerPort: 5000
      volumeMounts:
      - name: output-volume
        mountPath: /output
      envFrom:
      - configMapRef:
          name: kbsref
  initContainers:
  - name: curl
    image: registry.access.redhat.com/ubi9/ubi:latest # Lightweight image with curl installed
    command: ['sh', '-c', 'curl -s http://127.0.0.1:8006/cdh/resource/default/kbsres1/key3 > /output/kbsres1.txt']
    volumeMounts:
    - name: output-volume
      mountPath: /output
  volumes:
  - name: output-volume
    emptyDir: {}

